<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>

  </head>
  <body>
{{>nav}}
 



    <div class="slider-container">
      <div class="two-container-content">
      <div class="text-of-container">
        <div class="chicken-heading">

          <h5 class="spicy-chicken">
            Refreshing Vibrant  </br><span class="chicken">Splashing </span> Shake</h5>
        </div>
        <div class="text-sources">
          <p>
           
"Welcome to our recipe uploading website, where culinary creativity knows no bounds! Whether you're a 
seasoned chef or an aspiring home cook, our platform is your culinary playground. Share your favorite recipes with the world, 
from mouthwatering mains to delectable desserts, and watch your creations inspire others in kitchens around the globe".
          </p>
        </div>
          <div class="text-button">
            <button>
              <i class="fa-solid fa-stopwatch fa-lg" style="color: #000000;"></i>
              
              30 minute</button>
            <button>
              <i class="fa-solid fa-utensils fa-lg" style="color: #da0711;"></i>
              
              chicken</button>
          </div>
        <div class="myinfo-button">

          <div class="my-info">
            <div class="my-image">
             <img class="noman-image" src="images/noman.jpg">
            </div>
            <div class="my-name">

              Md Noman kaif 
            </div>
          </div>

          <div class="view-resourse">
            <button class="all-recipes">
             <span class="buttton-of-recipe">View Recipe</span>
              <i class="fa-solid fa-play fa-sm play-logo" style="color: #fafcff;"></i>
            </button>
          </div>

        </div>
      </div>
      <div class="image-of-container">
        <img class="image"  src="images/milk-splash.jpg">
      </div>
      </div>

    </div>
  </br>


     <div class="cateoriges">
    
      <h2 class="cateoriges-heading"> Categories</h2>
      <div class="cateog-good">
        <div class="meat">
          <img class="types-of-cateog meat-image"  src="images/e32fd78c06fa7dc15f84ca4ea3214f71.png">
        </div>
          <div class="breakfast">
          <img class="types-of-cateog break-image" src="images/breakfast.png">
        </div>
        <div class="cake">
          <img class="types-of-cateog cake-image" src="images/cake.png">
        </div>
        <div class="meal">
          <img class="types-of-cateog meal-image" src="images/meal.png"> 
        </div>
        <div class="vegan"> 
          <img class="types-of-cateog vegan-image" src="images/vegan.png"> 
        </div>
        
      </div>
      
    </div>
    
  </br>
</br>
</br>

<div class="text-middle-page">
  <div class="text-middle-heading">
    <h1 class="h1-tag-middle-text"> simple and tasty recipes</h1> 
  </div>
  <div class="text-niddle-passage">
  
Discover delicious simplicity with easy-to-follow recipes. From savory dishes to sweet treats, explore flavors that satisfy your cravings effortlessly.</br>"Indulge in the simplicity of a classic caprese salad. Layer slices of ripe tomatoes, fresh mozzarella, and basil leaves. 
</div>
</div>
</br>
</br>
</br>
</br>
     

     <div class="container-of-recipe">
       
      <div class="card-of-recipe">

        <div class="card" >
          <img src="images/-salad-with-chicken.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Chicken Salad</h5>
            <p class="card-text">
               Make Delicious chicken salad: fresh greensEnjoy!
             
              </p>
              <div class="card-clock">
                <span class="a30-min-card" >  
                 <i class="fa-solid fa-stopwatch fa-lg" style="color: #000000;"></i>
              30 min recipe</span>
              <span class="chicken" >
                <i class="fa-solid fa-utensils fa-lg" style="color: #da0711;"></i>
                Chicken</span>

            </div>
           
          </div>
        </div>
        <div class="card sard-test" >
          <img src="images/burger-cheese.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Cheesy Burger</h5>
            <p class="card-text">
              Mouthwatering cheesy burger: Juicy patty,  Enjoy!

            </p>
            <div class="card-clock">
              <span class="a30-min-card" >  
               <i class="fa-solid fa-stopwatch fa-lg" style="color: #000000;"></i>
            30 min recipe</span>
            <span class="chicken" >
              <i class="fa-solid fa-utensils fa-lg" style="color: #da0711;"></i>
              Chicken</span>

          </div>
           </div>
        </div>
        <div class="card" >
          <img src="images/grilled-skewers.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Grilled Skewers</h5>
            <p class="card-text">
              Grilled skewers: savory, tender, flavorful. Delicious!
            </p>
            <div class="card-clock">
              <span class="a30-min-card" >  
               <i class="fa-solid fa-stopwatch fa-lg" style="color: #000000;"></i>
            30 min recipe</span>
            <span class="chicken" >
              <i class="fa-solid fa-utensils fa-lg" style="color: #da0711;"></i>
              Chicken</span>

          </div>
          </div>
        </div>
        <div class="card">
          <img src="images/pizza-margherita.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Cheesy Pizza</h5>
            <p class="card-text">
              Savor cheesy goodness on crispy dough pizza .</p>
              <div class="card-clock">
                <span class="a30-min-card" >  
                 <i class="fa-solid fa-stopwatch fa-lg" style="color: #000000;"></i>
              30 min recipe</span>
              <span class="chicken" >
                <i class="fa-solid fa-utensils fa-lg" style="color: #da0711;"></i>
                Chicken</span>
  
            </div>
          </div>
        </div>

        <div class="card" >
          <img src="images/of-chocolate-cake.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"> Chocolate Cake</h5>
            <p class="card-text"> Decadent chocolate cake: for every sweet tooth..</p>

            <div class="card-clock">
              <span class="a30-min-card" >  
               <i class="fa-solid fa-stopwatch fa-lg" style="color: #000000;"></i>
            30 min recipe</span>
            <span class="chicken" >
              <i class="fa-solid fa-utensils fa-lg" style="color: #da0711;"></i>
              Chicken</span>

          </div>


          </div>
        </div>
        <div class="card" >
          <img src="images/tzatziki-dip.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"> Chocolate Cake</h5>
            <p class="card-text"> Decadent chocolate cake: for every sweet tooth..</p>

            <div class="card-clock">
              <span class="a30-min-card" >  
               <i class="fa-solid fa-stopwatch fa-lg" style="color: #000000;"></i>
            30 min recipe</span>
            <span class="chicken" >
              <i class="fa-solid fa-utensils fa-lg" style="color: #da0711;"></i>
              Chicken</span>

          </div>


          </div>
        </div>



      </div>




     </div>
     </br>
     </br>
     </br>
     </br>



     <div class="chef-container">
        <div class="be-chef">

          
          <div class="be-chef-heading">

            <h1>everyone can be a chef in their own kitchen</h1>

        </div>
        <div class="be-chef-passage">
          Embrace your inner chef by exploring simple recipes. With a pinch of creativity and a dash of passion, transform everyday ingredients into culinary delights, making your kitchen a gourmet haven.
        </div>
        <div class="be-chef-button">

          <button class="all-recipes">learn more</button>
         </div>
        </div>
        <div class="be-chef-image">
         <img  class="image-chef" src="images/Screenshot 2024-02-11 143338.png">
      </div>
   </div>
<br>
<br>
<br>


         <h1 class="gallery-heading">Our Gallery</h1>

   <div class="gallery">

    <div class="gallery-of-recipe">

      <img  class="images-0f-gallery"  src="images/_hot-chocolate.jpg">
      <img  class="images-0f-gallery"  src="images/seafood-soup.jpg">
      <img  class="images-0f-gallery"  src="images/chickenroti.jpg">
      <img  class="images-0f-gallery"  src="images/soup.jpg">
      <img  class="images-0f-gallery"  src="images/roti.jpg">
      <img  class="images-0f-gallery"  src="images/paneer.jpg">

      


    </div>
   </div>





<script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script src="app.js"></script>
    
    <div class="your-recipe-booking">
      <div class="recipe-booking-images">
       <div class="recipe-booking-images-1">
        <img src="images/chef.png" class="chef-image-1">
       </div>
       <div class="recipe-booking-images-2">
        <img src="images/chef-2.png" class="chef-image-2">
       </div>
       <div class="recipe-booking-images-3">
        <img src="images/chef-3.png" class="chef-image-3">
       </div>
      </div>
  
      <div class="recipe-booking-text">
       <h1 class="publish-free">publish  your recipe for free today</h1>
      
      <p class="publish-free">publish your recipe in front of thousand of people for free</p>
      <a href="/recipe" ><button class="all-submit">Submit Recipe</button></a>
    </div>
  
  
     </div>







   
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>